body{
    margin: 0%;
    padding: 0%;
   /* background-image:url(images/truckers.jpg);
    filter: blur();*/
    background: linear-gradient(blue,green);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    
}


.h1{
   text-transform: uppercase;
    text-align: center;
    color: rgb(136, 124, 54);
}

.icon{ /*affects every avatar*/
    border-radius: 50%;
    height: 100px;
    
    position: absolute;
    top: -50px;
    right: calc(50% - 50px);
    
}
.formbox{/*affects each form in every page*/
    
    margin: 45%;
    padding: 30px 15px;
    margin-top: 20%;
    background: linear-gradient(blue,green);
    position:absolute
}

.blank{
    width: 300px;
    color: rgb(202, 204, 216);
    width: 300px;
    border: none;
    border-bottom: 2px solid;
    background: transparent;
    outline: none;
   
    
}
.loginbutton{ /*affects both logins buttons in admin and driver pages && confirm button when registering*/
    font-size: large;
    text-decoration: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    border: none;
    color: green;
}

#country{
    background-color: white;
    color: black;

}

.forgotpassword{
    color:white;
}
.contactusbutton{
    border-radius: 1px;
    height: 30px;
}
